#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: yellow;
    color: rgb(207, 228, 20);
    opacity: .5;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  li{
    float: right;
    margin: 10px;
    list-style-type: square;
    color: yellow;
    text-anchor: yellow;
}
.space2{
text-align: center;

}
main{
    background-color: black;
}
body{
    background-color: black;
    color: yellow;
    text-align: center;
}
.poem{
    text: yellow;
}
a{
    text: yellow;
}
.test{
    color: yellow;
}
.space{
right: 1000px;
}
footer{
    margin-right: 170px;
    font-size: larger;
}